
{% extends 'diet_header.html' %}
{% load static %}
{% block content %}
  
  <h1>Program Ekle<i class="fa fa-fw fa-wrench"></i></h1> 
  
  <div class="row">
    <div class="col-lg-7 col-md-offset-2" >
      <section class="panel" >
        <div class="panel-body">
          <div class="form-horizontal">
  
            <form action="/yonetim/diet_main/diet_programlist/" id="kateform" method="post" enctype="multipart/form-data">
              
              {% csrf_token %}
              <div class="form-group">
                <label class="col-lg-4 control-label">Türkçe program ismi belirleyin:</label>
                <div class="col-lg-8">
                  <input type="text" name="traltkateisim" id="traltkateisim" placeholder="Program ismi" class="bg-focus form-control" data-required="true" data-type="text">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-4 control-label">Kategori seçin</label>  
                  <div class="col-lg-8">           
                    <div class="input-field col s12">
                      <select name="dropdown">
                        <option value="" disabled selected >Kategori seçin</option>
                          {% for i in categories %}
                          <option value="{{ i.name_tr }}">{{ i.name_tr }}</option>
                          {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-4 control-label">Alt Kategori seçin</label>  
                      <div class="col-lg-8">           
                        <div class="input-field col s12">
                          <select name="dropdown1">
                            <option value="" disabled selected >Alt Kategori seçin</option>
                              {% for i in subcategories %}
                              <option value="{{ i.name_tr }}">{{ i.name_tr }}</option>
                              {% endfor %}
                          </select>
                        </div>
                      </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-4 control-label">Kalori aralığı</label>  
                    <div class="col-lg-8">           
                      <div class="input-field col s12">
                        <select name="dropdown2">
                          <option value="" disabled selected>Kalori aralığını girin </option>
                            <option value="1">1000-1500</option>
                            <option value="2">1500-2000</option>
                            <option value="3">2500-3000</option>
                            <option value="4">3000-3500</option>
                            <option value="5">3500 ve fazlasi</option>
                        </select>
                      </div>
                </div>
              
                <div class="form-group">
                  <label class="col-lg-4 control-label">Kahvaltı Öncesi:</label>
                  <div class="col-lg-8">
                    <input type="text" name="araog1" id="araog1" placeholder="Kahvaltı Öncesi" class="bg-focus form-control" data-required="true" data-type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-4 control-label">Kahvaltı:</label>
                  <div class="col-lg-8">
                    <input type="text" name="kahvalti" id="kahvalti" placeholder="Kahvaltı" class="bg-focus form-control" data-required="true" data-type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-4 control-label">Ara öğün 1:</label>
                  <div class="col-lg-8">
                    <input type="text" name="araog2" id="araog2" placeholder="Ara öğün 1" class="bg-focus form-control" data-required="true" data-type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-4 control-label">Öğle yemeği:</label>
                  <div class="col-lg-8">
                    <input type="text" name="ogley" id="ogley" placeholder="Öğle yemeği" class="bg-focus form-control" data-required="true" data-type="text">
                  </div>
                </div>
 
                <div class="form-group">
                  <label class="col-lg-4 control-label">Ara öğün 2:</label>
                  <div class="col-lg-8">
                    <input type="text" name="araog3" id="araog3" placeholder="Ara öğün 2" class="bg-focus form-control" data-required="true" data-type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-4 control-label">Akşam yemeği:</label>
                  <div class="col-lg-8">
                    <input type="text" name="aksamy" id="aksamy" placeholder="Akşam yemeği" class="bg-focus form-control" data-required="true" data-type="text">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-4 control-label">Akşam şımarması:</label>
                  <div class="col-lg-8">
                    <input type="text" name="araog4" id="araog4" placeholder="Akşam şımarması" class="bg-focus form-control" data-required="true" data-type="text">
                  </div>
                </div>
                
                <div class="form-group">
                    <label class="col-lg-4 control-label">Programı Onaylayın:</label>
                    <div class="col-lg-2">
                      <input type="submit" value="ONAYLA"> 
                    </div>
                </div>   
                             
              {% if messages %}
                {% for message in messages %}
                  {% if message.tags == 'success'%} 
                    <div class="message">
                      <div class="alert alert-success" role="alert">
                        {{ message }}
                        <a href="#" class="del-msg">&times;</a>
                      </div>
                    </div>
                  {% elif message.tags == 'error' %}
                    <div class="message">
                      <div class="alert alert-danger" role="alert">
                        {{ message }}
                        <a href="#" class="del-msg">&times;</a>
                      </div>
                    </div>
                  {% elif message.tags == 'warning' %}
                    <div class="message">
                      <div class="alert alert-warning" role="alert">
                        {{ message }}
                        <a href="#" class="del-msg">&times;</a>
                      </div>
                    </div>      
                  {% endif %}
                {% endfor %}
              {% endif %}

            </form>

          </div>

        </section>

      </div>

    </div>

  </div>

  <style>

    h1 {      
      position: absolute;
      top: 70px;
      padding-left: 250px;
      font-size: 30px;
     }
    
     input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 10px 0;
      display: inline-block;
      border: 1px solid rgb(110, 20, 20);
      border-radius: 8px;
      box-sizing: border-box;
    }

    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #45a049;
    }
    .panel {
      background-color: aliceblue;
      margin: 80px auto;
      
    }

    .button-position{
      margin-top: 9px;
    }

    .button-position2{
      margin-top: 9px;
    }



  </style>
{% endblock %}