
{% extends 'spor_header.html' %}
{% load static %}

{% block content %}
  
  <h1>Alt Kategori Ekle<i class="fa fa-fw fa-wrench"></i></h1> 
  
  <div class="row">
    <div class="col-lg-7 col-md-offset-2" >
      <section class="panel" >
        <div class="panel-body">
          <div class="form-horizontal">
  
            <form action="/addcategoryfy" id="kateform" method="post" enctype="multipart/form-data">

              <div class="form-group">
                  <label class="col-lg-4 control-label">Kategori seçin</label>
                  <div class="col-lg-8">
                    <div class="input-group input-append dropdown combobox" data-initialize="combobox" id="myCombobox">
                      <input type="text" class="form-control">
                        <div class="input-group-btn">
                          <div class="button-position">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                          </div>
                          <ul class="dropdown-menu dropdown-menu-right">
                          {% for i in getkategoris %}    
                          <li data-value="{{i.id}}"><a href="#">{{i.name_tr}}</a></li>
                          {% endfor %}      
                          </ul>
                        </div>
                      </div>
                    <div class="line line-dashed m-t-large"></div>
                  </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">Bu alt kategori premium kullancılar için mi?:</label>
                <div class="col-lg-7">

                  <input type="checkbox" name="premium" value="true"><br>

                </div>
              </div>   

              <div class="form-group">
                <label class="col-lg-4 control-label">Programın Tahmini süresini belirleyin:</label>
                <div class="col-lg-8">
                  <input type="text" name="totaltime" id="totaltime" placeholder="Örn : 04:30" class="bg-focus form-control" data-required="true" data-type="text">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">Çalışma alanı</label>
                <div class="col-lg-8">
                  <div class="input-group input-append dropdown combobox" data-initialize="combobox" id="alanbox">
                    <input type="text" class="form-control">
                    <div class="input-group-btn">
                      <div class="button-position2">  
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                      </div>
                      <ul class="dropdown-menu dropdown-menu-right">
                        <li data-value="1"><a href="#">Vücut ağırlığı</a></li>
                        <li data-value="2"><a href="#">Serbest Ağırlık</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="line line-dashed m-t-large"></div>
                </div>
              </div>


 
              <div class="form-group">
                <label class="col-lg-4 control-label">Türkçe Alt Kategori ismi belirleyin:</label>
                <div class="col-lg-8">
                  <input type="text" name="trkateisim" id="trkateisim" placeholder="Alt Kategori ismi" class="bg-focus form-control" data-required="true" data-type="text">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">Türkçe Alt Kategori açıklamsı belirleyin:</label>
                <div class="col-lg-8">
                  <input type="text" name="trkateaciklama" id="trkateaciklama" placeholder="Alt Kategori Açıklaması" class="bg-focus form-control" data-required="true" data-type="text">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">İngilizce Alt Kategori ismi belirleyin:</label>
                <div class="col-lg-8">
                  <input type="text" name="enkateisim" id="enkateisim" placeholder="İngilizce Alt Kategori ismi" class="bg-focus form-control" data-required="true" data-type="text">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">İngilizce Alt Kategori açıklaması belirleyin:</label>
                <div class="col-lg-8">
                  <input type="text" name="enkateaciklama" id="enkateaciklama" placeholder="İngilizce Alt Kategori açıklaması" class="bg-focus form-control" data-required="true" data-type="text">
                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">Alt Kategori Resmini belirleyin:</label>
                <input name="file" id="file"  type="file"  required />      
              </div>

              <div class="form-group">
                <label class="col-lg-4 control-label">Alt Kategoriyi Onaylayın:</label>
                <div class="col-lg-7">
                  <div id="kategoriekle" class="btn btn-success" style="margin-top:10px;" >İşlemi tamamla</div>
                </div>
              </div>

            </form>

          </div>

        </section>

      </div>

    </div>

  </div>

  <style>

    h1 {      
      position: absolute;
      top: 70px;
      padding-left: 250px;
      font-size: 30px;
     }
    
     input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 10px 0;
      display: inline-block;
      border: 1px solid rgb(110, 20, 20);
      border-radius: 8px;
      box-sizing: border-box;
    }

    input[type=submit] {
      width: 100%;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    input[type=submit]:hover {
      background-color: #45a049;
    }
    .panel {
      background-color: aliceblue;
      margin: 80px auto;
      
    }

    .button-position{
      margin-top: 9px;
    }

    .button-position2{
      margin-top: 9px;
    }

  </style>
{% endblock %}